---
import caballos from "../media/images/caballos.jpg";
import ContentsTable from "../components/ContentsTable";
import SubChapter from "../components/SubChapter";
import Paragraph from "../components/Paragraph";
import SubTitle from "../components/SubTitle";
import categoricos from "../media/analisis/categoricos.png";
import categoricos2 from "../media/analisis/categoricos2.png";
import barras from "../media/analisis/barras.png";
import torta from "../media/analisis/torta.png";
import pareto from "../media/analisis/pareto.png";
import ImageCorousel from "../components/ImageCorousel";
import Video from "../components/Video";
import formulatest from "../media/images/formula_test.png";
import intervalo2 from "../media/analisis/intervalo2.png";
import intervalo3 from "../media/analisis/intervalo3.png";
import intervalo4 from "../media/analisis/intervalos4.png";
import histograma from "../media/analisis/histograma.png";
import histograma2 from "../media/analisis/histogram2.png";
import histograma3 from "../media/analisis/histogram3.png";
import dispersion from "../media/analisis/dispersion.png";
import dinamica from "../media/analisis/dinamica.png";
import dinamica2 from "../media/analisis/dinamica2.png";
import ImagePlus from "../components/ImagePlus";
import media from "../media/analisis/media.png";
import mediana from "../media/images/formula_mediana.png";
import varianza_muestral from "../media/analisis/varianza.png";
import varianza_poblacional from "../media/analisis/varianza2.png";
import conversion from "../media/ejemcerdos/conversion.png";
import tabla_c from "../media/ejemcerdos/tabla_c.png";
import media_c from "../media/ejemcerdos/media_c.png";
import desc_c from "../media/ejemcerdos/desc_c.png";
import summary from "../media/ejemcerdos/summary.png";
import summary2 from "../media/ejemcerdos/summary2.png";
import covarianza from "../media/analisis/covarianza.png";
import covarianza2 from "../media/analisis/covarianza2.png";
import corre1 from "../media/analisis/correl.png";
import corre2 from "../media/analisis/correl2.png";
import cerdas from "../media/analisis/cerdas.png";
import cerdas2 from "../media/analisis/cerdas2.png";
import ReferencesBlock from "../components/ReferencesBlock";
import ChapterLayout from "../layouts/ChapterLayout.astro";
import bajar from "../media/images/bajar.png";
import DownloadButton from "../components/DownloadButton";
import HeadBase from "../components/headBase.astro";
---

<HeadBase
  title="5- Estadística descriptiva y análisis inicial de los datos"
  description="Estadística descriptiva y análisis inicial de los datos"
  keywords="datos categoricos,datos nominales, datos cuantitativos,visualizacion de variables, estadistica descriptiva, medidas de tendencia central, medidas de dispersion, covarianza, correlacion"
/>

<ChapterLayout
  chapter_title="5- Estadística descriptiva y análisis inicial de los datos"
  chapter_image={caballos}
>
    <ContentsTable
      contenidos={[
        {
          titulo: "5.1- Presentación de datos categóricos nominales",
          link: "#categoricos",
        },
        {
          titulo: "5.2- Presentación de datos cuantitativos",
          link: "#cuantitativos",
        },
        {
          titulo: "5.3- Visualización de variables cuantitativas y categóricas",
          link: "#visualizacion",
        },
        { titulo: "5.4- Estadística descriptiva", link: "#descriptiva" },
        {
          titulo: "5.4.1- Medidas de tendencia central",
          link: "#central",
        },
        { titulo: "5.4.2- Medidas de dispersión", link: "#dispersion" },
        {
          titulo: "5.5- Ejemplo de estadística descriptiva",
          link: "#ejemplo",
        },

        {
          titulo: "5.6- Relaciones entre variables",
          link: "#covarianza",
        },
      ]}
    />
  {/* //5.1 Datos categóricos nominales */}
  <SubChapter id="categoricos">
    <Paragraph>
      <p>
        Tal como se ha hablado anteriormente los datos que se recogen en la
        finca o en cualquier otro tipo de actividad que los genere, tienen
        diferente<a href={"/post#raw"}><u>naturaleza</u></a>. En esta sección
        vamos a revisar como visualizar estos datos para poder entenderlos mejor
        y saber que nos dicen y también veremos como podemos realizar una
        aproximación a la estadística descriptiva utilizando herramientas
        sencillas en la hoja de cálculo Excel.
      </p>
    </Paragraph>
    <SubTitle title="5.1 Datos categóricos nominales" />
    <Paragraph
      texto="Los datos categóricos son datos que se dividen en grupos, como por ejemplo, sexo (masculino, femenino) o raza (holstein, pardo suizo, normando). Veamos como podemos mostrar y resumir los datos categóricos con un ejemplo práctico. Por ejemplo, de una clínica veterinaria obtenemos una lista de historias clínicas de perros (n= 89). Queremos clasificar los animales por su tamaño, entonces, para ello los hemos dividimos en tres categorias: grande, mediano y pequeño. De esta manera ya podremos cuantificar el número de animales que pertenecen a cada categoría y comenzar a entender por ejemplo, que pacientes son los que mas atiende la clínica de acuerdo con su tamaño."
    />
    <Paragraph>
      <p>
        Para cuantificar en Excel podemos utilizar varias alternativas, una de
        ellas son las tablas pivotantes (pivot tables). Estas tablas son una
        herramienta muy práctica y flexible para resumir información y nos dan
        la opción de cuantificar y visualizar las variables incluidas. Otro
        recurso útil es trabajar con las funciones creadas por Excel. En este
        caso la primera que podemos explorar para contar el número de animales
        para cada una de las categorias de la variable 'Tamaño' es la función <b
          >=CONTAR.SI o =COUNTIF</b
        > en inglés. Como siempre que vamos a usar una función primero nos ubicamos
        en la celda donde queremos la información, luego digitamos la función (=CONTAR.SI),
        y seleccionamos el rango donde están nuestros datos, separamos con una coma
        (,) y posteriormete seleccionamos el criterio por el cual deseamos clasficar.
        Es decir escribimos la condición, que para este caso sería celdas que en
        el rango que estamos buscando contengan la <b>G</b> o sea animales de tamaño
        grande tal como se muestra el cuadro inferior.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      width="30%"
      image={categoricos}
      texto="Uso de la función =CONTAR.SI"
      max_zoom="50%"
    />
    <Paragraph
      texto="Completamos la información para cada una de las categorias y de esta manera obtenemos la tabla que resume el número de animales por categoría."
    />
    <ImagePlus
      client:visible
      image={categoricos2}
      texto="Tabla Completa"
      width="30%"
      max_zoom="50%"
    />
    <h2>Diagrama de Barras</h2>
    <Paragraph
      texto="Es una de las gráficas mas comunes para la visualización de datos categóricos ya que permite visualizar la información de manera  sencilla. Como se observa en el diagrama inferior este gráfico es una representación  de la tabla presentada en el cuadro superior.  Cada barra representa una categoría y en el eje vertical se presenta la distribución absoluta (conteo).  Para hacerlo en Excel simplemente seleccionamos los datos, y desde el menú 'Insertar' que se encuentra en la parte superior y se escoge las gráfica deseada (en la barra superior se selecciona por los íconos que las represatan).  En este caso seleccionamos la opción (columnas), el menú de opciones es amplio por lo que hay mucha flexibilidad en el diseño."
    />

    <ImagePlus
      client:visible
      image={barras}
      texto="Gráfica de Columnas"
      width="35%"
      max_zoom="50%"
    />

    <h2>Gráfico de torta</h2>
    <Paragraph
      texto="Se utiliza para mostrar que porcentaje del total (100%) ocupan las diferentes categorias.  De la totalidad de animales de la muestra en que porcentaje están representados los grandes (G), los medianos (M) y los pequeños (M).  En Excel la forma de obtener este gráfico es similar al anterior. Seleccione los datos, de ahi ir a 'Insertar', y finalmente seleccionar el ícono de la torta que mas se ajuste a sus necesidades pues hay en 2D o en 3D y la puede ajustar a su gusto."
    />
    <ImagePlus
      client:visible
      image={torta}
      texto="Gráfica de Torta"
      width="35%"
      max_zoom="50%"
    />
    <SubTitle title="Diagrama de Pareto" />
    <Paragraph
      texto="Los datos nominales también se pueden presentar con un diagrama de Pareto. Este presenta las barras verticales que muestran la frecuencia absoluta de unidades por valor que toma la variable (cantidad de perros G, M o S) y simultáneamente en un eje vertical secundario (a la derecha va indicando la frecuencia acumulada relativa (porcentaje) con que cada valor contribuye hasta lograr el 100% (línea naranja). De igual manera es posible realizar el diagrama de Pareto en Excel seleccionando la opción en el menú de gráficos."
    />
    <ImagePlus
      client:visible
      image={pareto}
      texto="Gráfica de Pareto"
      width="35%"
      max_zoom="50%"
    />
    <center><SubTitle title="Visualización de datos categóricos" /></center>
    <Video id="bNEqEjt8NPQ" title="Información Categórica" client:visible />

    <DownloadButton
      link="https://github.com/HectorDR/vetDataScience/blob/hojas_excel/5.1_Categoricos_nominales.xlsx?raw=true"
    />
  </SubChapter>
  {/* 5.2 Datos cuantitativos */}
  <SubChapter id="cuantitativos">
    <SubTitle title="5.2 Datos cuantitativos" />
    <Paragraph>
      <p>
        Los datos cuantitavos son aquellos que podemos expresar de forma
        numerica. Con estos <a href="/post#raw"><u>datos</u></a> hay mas posibilidades
        y flexibilidad en la manera como podemos presentarlos y la vez entenderlos.
        Una manera frecuente de presentar los datos cuantitativos es la utilización
        de tablas de distribución de frecuencias o histogramas. A diferencia de los
        nominales donde para crear el diagrama de barras básicamente cada valor que
        toma la variable (Caso anterior G, M, S) representa una columna, cuando trabajamos
        con información cuantitativa creamos intervalos del mismo tamaño que nos
        sirven para agrupar el conjunto de los datos basados en los valores que toma
        la variable. Esto nos permite presentar de manera resumida la información.
        En la tabla se aconseja no solo presentar la frecuencia total sino también
        la frecuencia relativa (porcentajes). Por ejemplo, vamos a presentar una
        tabla que resuma la producción de leche ajustada a 305 días por lactancia
        de una finca lechera. Lo primero que debemos hacer es conocer el valor mínimo
        y el valor máximo (12150 y 47820 respectivamente), luego decidir el número
        de intervalos y ahi podremos calcular la amplitud del intervalo con la siguiente
        fórmula:
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={formulatest}
      texto="Formula amplitud de intervalos"
      width="50%"
      max_zoom="70%"
    />
    <Paragraph>
      <p>
        Si estamos trabajando con una tabla con muchos datos, encontrar los
        valores máximo y mínimo puede ser asunto complicado. Podemos encontrar
        estos valore con funciones de Excel para ello utilizamos las funciones <b
        >
          =MIN() y =MAX()</b
        > respectivamente. Dentro de la función seleccionamos la ubicación del rango
        de valores que toma la variable en la tabla. Una vez encontrados estos valores
        reemplazando la fórmula tenemos:
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={intervalo2}
      texto="Formula de amplitud de intervalo resuelta"
      width="50%"
      max_zoom="70%"
    />
    <Paragraph>
      <p>
        Esto quiere decir que vamos a construir una tabla con 10 intervalos con
        una amplitud de 3567 libras cada uno, comenzando con el inferior que
        será desde el valor mínimo 12150 libras + 3567 libras, así que el primer
        el primer intervalo será desde 12150 hasta 15717 y así sucesivamente
        hasta el último rango que será desde 44253 hasta 47820 (valor máximo).
        Excel tiene una herramienta muy práctica para la construcción del
        histograma de frecuencias. Para ello asegúrese de tener instalado la
        herramienta de <a
          href="https://support.microsoft.com/en-us/office/load-the-analysis-toolpak-in-excel-6a63e598-cd6d-42e3-9317-6b40ba1a66b4#OfficeVersion=Windows"
          target="_blank"><u>'Análisis de Datos' o 'Data Analysis'</u></a
        > en el menú 'Datos' o 'Data' que se halla ubicado en la parte superior de
        la pantalla.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={intervalo3}
      texto="Opción de analisis de datos"
      width="60%"
      max_zoom="80%"
    />
    <Paragraph
      texto="Una vez que hemos definido los intervalos y sabemos la amplitud de estos hacemos una columna con ellos como se muestra en la tabla que se muestra a conticuación, teniendo presente que incluimos los valores máximos de cada intervalo. Es decir, para el primero que sería de 12150 a 15717, solo digitamos el 15717, sigue 19284 y así hasta el último. Posteriomente vamos al menu datos, seleccionamos data analysis y finalmente histogram."
    />
    <ImagePlus
      client:visible
      image={intervalo4}
      texto="Lista de valores para crear los intervalos "
      width="10%"
      max_zoom="15%"
    />

    <ImagePlus
      client:visible
      image={histograma}
      texto="Opción de histograma"
      width="40%"
      max_zoom="65%"
    />
    <Paragraph
      texto="Inmediatamente se abre una hoja de diálogo y lo primero que se pide es seleccionar el rango de celdas donde están nuestros datos (Input Range). Posteriormente seleccionamos los intervalos que acabamos de construir (Bin Range). También tenemos la opción de seleccionar si queremos los datos en una nueva hoja o podemos asignar una hoja específica y finalmente podemos escoger si queremos un diagrama de Pareto, una secuencia acumulativa o simplemente el gráfico con el histograma. Damos ok y podemos ver el reporte de frecuencias y la gráfica como se muestra en el diagrama y la tabla. Existen otras alternativas en Excel de crear histogramas por ejemplo utilizando la opción CONTAR.SI y FRECUENCIA de manera que esta no es la única pero tal vez la mas rápida."
    />
    <ImagePlus
      client:visible
      image={histograma2}
      texto="Resultados de histograma"
      width="30%"
      max_zoom="50%"
    />
    <Paragraph
      texto="Como se observa el reporte obtenido nos devuelve los invervalos con la cantidad de lactancias en cada intervalo y el porcentaje que representa cada una del total. De igual manera nos entrega el siguiente histograma de frecuencias:"
    />
    <ImagePlus
      client:visible
      image={histograma3}
      texto="Gráfica histograma"
      width="40%"
      max_zoom="60%"
    />
    <center><SubTitle title="Visualización de datos cuantitativos" /></center>
    <Video
      id="fxoOgwp_mFQ"
      title="Construcción de un histograma"
      client:visible
    />

    <DownloadButton
      link="https://github.com/HectorDR/vetDataScience/blob/hojas_excel/5.2_Cuantitativos.xlsx?raw=true"
    />
  </SubChapter>

  {/* 5.3 Visualización de variables cuantitativas y categóricas */}
  <SubChapter id="visualizacion">
    <SubTitle
      title="5.3 Visualización de variables cuantitativas y categóricas"
    />
    <SubTitle title="5.3.1- Variables cuantitativas gráficos de dispersión" />
    <Paragraph>
      <p>
        Para entender como se relacionan dos variables cuantitativas, un primer
        paso es la visualización y para ello podemos utilizar los gráficos de
        dispersión, posteriormente veremos la manera de medir que tan estrechas
        son estas<a href={"/analisis#covarianza"}><u>relaciones</u></a>. Este
        tipo de gráfico es muy útil para entender si dos variables tienen algún
        tipo de relación. Como ejemplo, el siguiente gráfico presenta la
        cantidad de grasa producida (eje horizontal) y la producción de leche
        (eje vertical) para un grupo de vacas de 1ª lactación.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={dispersion}
      texto="Gráfica de dispersión"
      width="50%"
      max_zoom="70%"
    />
    <Paragraph
      texto='Como se observa en el gráfico parece que existe una tendencia lineal entre la producción de grasa en leche y el volumen total de leche (a mayor leche mayor cantidad de grasa), sin embargo este es solo un primer ejercicio para tratar de entender los datos de que disponemos. Luego tendremos que confirmar con fórmulas de asociación como correlaciones o covarianzas. Para realizar el gráfico en Excel, necesitamos seleccionar los rangos donde se encuentran los datos y luego del menú insertar gráficos seleccionar "scatter" o dispersión.'
    />

    <SubTitle title="5.3.2- Variables Categóricas" />
    <Paragraph>
      <p>
        Las tablas cruzadas o tablas de contingencia son ideales para resumir y
        visualizar los datos de las variables categóricas. En la tabla cruzada
        un grupo de categorías va en el eje horizontal (X) y otro grupo en el
        eje vertical (Y). Por ejemplo, si utilizamos una base de datos de un
        albergue de datos (datos obtenidos de<a
          href="https://www.kaggle.com"
          target="_blank"><u>Kaggle</u></a
        >) y seleccionamos las dos variables categóricas disponibles que son
        animales esterilizados cuyas categorias (si, no) ubicamos en el eje
        horizontal y para la variable sexo, ubicamos sus categorias (Macho,
        Hembra) en el eje vertical. También es importante incluir los totales.
        Para este tipo de tabla es muy útil utilizar <a
          href="https://support.microsoft.com/es-es/office/crear-una-tabla-dinámica-para-analizar-datos-de-una-hoja-de-cálculo-a9a84538-bfe9-40a9-a8e9-f99134456576"
          target="_blank"><b><u>las tablas dinámicas de Excel</u></b></a
        > que nos permiten no solo realizar la tabla, sino también visualizar el
        gráfico.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={dinamica}
      texto="Tabla cruzada"
      width="35%"
      max_zoom="60%"
    />
    <Paragraph
      texto="Siguiendo la metodología descrita en el enlace de como crear una tabla dinámica cruzamos los datos de sexo y esterilización. En este caso decidimos mostrar la información por totales sin embargo podemos mostrar tambien sus valores relativos. De igual manera podemos seleccionar la opción de visualizar los datos en una gráfica dinámica."
    />
    <ImagePlus
      client:visible
      image={dinamica2}
      width="40%"
      max_zoom="60%"
      alt="Gráfica de tabla dinamica"
      texto="Total de animales recibidos en el albergue clasificados por sexo (macho o hembra) y esterilización (si o no). Fuente: www.kaggle.com"
    />
    <center>
      <SubTitle
        title="Construcción de tablas de contingencia para cuantificar variables categóricas"
      /></center
    >
    <Video
      id="bp5nrBUBQPI"
      title="Visualización de dos variables"
      client:visible
    />
  </SubChapter>

  {/*5.4- Estadística descriptiva*/}
  <SubChapter id="descriptiva">
    <SubTitle title="5.4- Estadística descriptiva " />
    <Paragraph
      texto="Cuando se obtiene una colección de datos de cualquier naturaleza, al inicio, el estado original de los datos pueden no mostrar mucho sobre lo que nos interesa buscar o lo que podemos encontrar. Es por ello que es necesario organizar y simplificar los datos de una manera en que ya sea a manera de tablas, gráficos u otros medio (promedios, porcentajes, totales), podamos comenzar a realizar una adecuado análisis e interpretación de la información (Pfaffenberger, R.C. and Patterson, J.H., 1977). "
    />
    <Paragraph
      texto="Entonces, podemos decir que la estadística descriptiva se encarga del resumen y descripción de los datos.  El análisis descriptivo se limita únicamente a los datos coleccionados (muestra) y no realiza inferencia o generalización acerca de la totalidad de donde provienen las observaciones seleccionadas (población) (Chao, 1977). Como hemos venido insistiendo, antes de embarcarnos en cualquier análisis, debemos primero comprender la naturaleza de los datos y de acuerdo con ello que tipo de medición hacemos como vimos anteriormente en la 'clasificación de los datos según su naturaleza'. Revisemos a continuación algunos conceptos básicos de estadística descriptiva que nos serviran para entender de manera mas clara los datos la naturaleza de los datos con los cuales estaremos trabajando"
    />
  </SubChapter>

  {/* 5.4.1 Medidas de tendencia central */}
  <SubChapter id="central">
    <SubTitle title="5.4.1 Medidas de tendencia central" />
    <SubTitle title="- Media" />
    <Paragraph>
      <p>
        La Media es la mas común de todas las medidas de tendencia central.
        Simplemente es el promedio de los datos. La media representa el centro
        físico del conjunto de datos y se define como la suma de los valores
        observados, dividido por el total de observaciones (Chao,1978). En Excel <b
          >=AVERAGE( ) o PROMEDIO( )</b
        >
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={media}
      width="30%"
      max_zoom="50%"
      alt="Formula Media"
      texto="Formula matematica para la media de datos"
    />
    <SubTitle title="- Mediana" />
    <Paragraph>
      <p>
        La Mediana es el valor que divide un conjunto de observaciones ordenadas
        respecto de la magnitud de los valores, de tal manera que el numero de
        datos por encima de la mediana sea igual al numero de datos por debajo
        de la misma (Chao, 1978). Si esta posición no es un número entero
        entonces la mediana es el promedio simple de los dos números mas
        cercanos a la posición calculada. Excel<b> =MEDIAN()</b>
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={mediana}
      width="10%"
      max_zoom="20%"
      alt="Formula Mediana"
      texto="Formula matemática para la mediana de datos"
    />
    <SubTitle title="- Moda" />
    <Paragraph>
      <p>
        Moda es el dato que mas se repite o se da con mayor frecuencia dentro de
        una sucesión de datos. La moda se halla buscando el dato que tenga la
        frecuencia mas alta. Excel <b>=MODE.SNGL( )</b> entrega una sola moda, <b
          >=MODE.MULT( )
        </b>entrega una colección de modas.
      </p>
    </Paragraph>
    <SubTitle title="- Sesgo" />
    <Paragraph>
      <p>
        Sesgo es una medida de asimetría que indica si las observaciones del
        conjunto de datos se concentran en un lado de la distribución de los
        datos. Sesgo derecho indica que los datos se concentran hacia la derecha
        de la curva (la cola larga se ve hacia la derecha). Izquierda, indica
        que los datos se concentran hacia la izquierda de la curva. Cuando los
        resultados del sesgo son negativos, los resultados están desviados hacia
        la derecha. Al contrario, con son positivos los resultados están
        desviados hacia la izquierda. Excel <b>=SKEW()</b>
      </p>
    </Paragraph>
  </SubChapter>

  {/* 5.4.2 Medidas de dispersión o variabilidad */}
  <SubChapter id="dispersion">
    <SubTitle title="5.4.2 Medidas de dispersión o variabilidad" />
    <Paragraph
      texto="Para el análisis de datos no basta con encontrar las medidas de posición central, ya que varias muestras pueden presentar las mismas medias, sin embargo, la dispersión de los datos puede darnos claros ejemplos de el comportamiento de los mismos. Las medidas de variabilidad nos indican el grado de dispersión en un conjunto de datos. Si este valor es pequeño entonces hay uniformidad en los datos. Por el contrario habrá poca uniformidad. Si es cero, entonces todos los datos son iguales. Por ejemplo, no es igual tener un lote de pollos de engorde con una media de 2.2 kg y una desviación estándar de 0.3 kg, que un lote de pollos de engorde con una media de 2.2 kg y una desviación estándar de 0.6kg. A pesar de que las medias son iguales los datos del segundo lote estan mucho mas dispersos, por tanto la uniformidad estaría mas comprometida lo cual puede representar pérdidas económicas. Las medidas de dispersión de mas frecuente uso son:"
    />
    <SubTitle title="- Varianza y desviación estándar" />
    <Paragraph>
      <p>
        La razón fundamental por la que no se toma el promedio de las
        desviaciones como medida de variabilidad es que la suma de las
        desviaciones siempre arroja 0. Esto se soluciona con la varianza
        elevando al cuadrado las diferencias entre los datos y la media y
        dividiendo por la cantidad de datos (N)si es varianza poblacional o
        (n-1) si es varianza muestral. En Excel usamos <b>=VAR.S()</b> para varianza
        muestral y <b>=VAR.P()</b> para la varianza poblacional.
      </p>
    </Paragraph>
    <ImageCorousel
      client:visible
      client:visible
      width={"30%"}
      max_zoom={"50%"}
      images={[
        {
          image: varianza_muestral,
          texto: "Varianza muestral  Excel = STDEV.S()",
        },
        {
          image: varianza_poblacional,
          texto: "Varianza poblacional  Excel =STDEV.P()",
        },
      ]}
    />
    <Paragraph>
      <p>
        La varianza es el promedio de los cuadrados de las desviaciones. Al
        tomar el cuadrado de las desviaciones para el calculo de la varianza,
        las unidades en estén dados los datos también se expresarán en unidades
        al cuadrado. Esto puede no tener sentido, es por ello por lo que se
        modificó para obtener las unidades reales y se llegó al concepto de la<a
          href="https://www.investopedia.com/terms/s/standarddeviation.asp"
          target="_blank"><u>Desviación Estándar</u></a
        >. La desviación estándar, es la raíz cuadrada de la varianza y es <b
          >la medida de variabilidad de mayor uso para calcular la dispersión de
          los datos. En Excel la función es '=DESVESTA' o '=STDEV' en inglés.
        </b>
      </p>
    </Paragraph>
  </SubChapter>

  {/* 5.5 Ejemplo de estadística descriptiva */}
  <SubChapter id="ejemplo">
    <SubTitle title="5.5 Ejemplo de estadística descriptiva" />
    <Paragraph
      texto="En una producción porcícola se obtienen los resultados de peso y consumo de alimento de los últimos 100 cerdos vendidos. Los datos se encuentran en una tabla de Excel y queremos ver que podemos obtener de ellos. La tabla que se presenta a continuación muestra un fragmento de los 10 primeros animales. "
    />

    <ImagePlus
      client:visible
      image={tabla_c}
      width="40%"
      max_zoom="50%"
      texto="Framento de un registro de ceba porcina"
    />
    <Paragraph
      texto="Recordemos que la conversión es un dato calculado que mide la cantidad de alimento utilizado por unidad de peso (en este caso kg) ganado. La fórmula general de la conversión es:"
    />

    <ImagePlus
      client:visible
      image={conversion}
      width="30%"
      max_zoom="50%"
      alt="Formula Mediana"
      texto="fórmula de la conversión"
    />
    <Paragraph>
      <p>
        Lo primero que vamos a hacer es el cálculo de las medias. Podemos
        utilizar la función <b>=PROMEDIO o =AVERAGE</b> y seleccionar el grupo de
        datos como se muestra en la tabla. La misma operación para para la mediana<b
          >=MEDIAN o =MEDIANA</b
        > y la moda<b> =MODE o =MODA</b>. Es importante anotar que MODE es
        considerado por Excel como una variable en modo compatibilidad. Por ello
        se recomienda utilizar <b>=MODE.SNGL</b> para el número que ocurre con mayor
        frecuencia o <b>=MODE.MULT</b> que muestra la serie de números que ocurren
        con mayor frecuencia. Ojo si no hay duplicados dentro de la serie de datos
        el resultado será N/A.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      width="40%"
      max_zoom="60%"
      image={media_c}
      texto="Funcion promedio de Excel"
    />
    <Paragraph>
      <p>
        Los valores máximos y mínimos los calculamos con las funciones <b
          >=MAX() y =MIN()</b
        >. Para el sesgo utilizamos la función<b> =SKEW</b> o en español <b
          >=COEFICIENTE.ASIMETRIA.P</b
        >. La función de la varianza es <b> =VAR.P o =VAR.S</b> ya sea para una población
        o para una muestra respectivamente. Para Excel en español <b>=VARS</b> para
        una muestra y <b>=VARP</b> para la población. La desviación estándar de igual
        manera <b>=STDEV.P o STDEV.S</b> para población o muestra respectivamente,
        si Excel ha sido configrado en inglés (como en mi caso) o si es en español
        entonces las funciones son <b>=DESVESTP</b> para población y <b>
          =DESVEST</b
        >para la muestra en caso de dudas sobre como escriben las funciones se
        puede consultar este <a
          href="https://functiontranslator.com/es/"
          target="_blank"><u>enlace</u></a
        >. Con todas estas variables podemos crear nuestro reporte en una tabla:
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      width="40%"
      max_zoom="60%"
      image={desc_c}
      texto="Reporte"
    />
    <Paragraph>
      <p>
        Excel tiene incorporada una herramienta para hacer análisis descriptivo
        de manera rápida, para ello debemos instalar la herramienta de <a
          href="https://support.microsoft.com/en-us/office/load-the-analysis-toolpak-in-excel-6a63e598-cd6d-42e3-9317-6b40ba1a66b4"
          target="_blank"><u>análisis de datos</u></a
        >. Una vez instalada seleccionamos la opción estadística descriptiva o
        “descriptive statistics”, inmediatamente se abre una hoja de dialogo
        donde debemos seleccionar el rango de datos que deseamos incluir y
        aclarar si los datos están por columnas como en este caso y si las
        columnas tienen etiquetas (labels). Seleccionamos además la ubicación
        del informe y finalmente que tipo de análisis estadístico deseamos ver,
        en este caso nos quedamos con el resumen estadístico (summary
        statistics).
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={summary}
      width="40%"
      max_zoom="60%"
      texto="Recuadro de Estadistica descriptiva"
    />
    <Paragraph
      texto="Finalmente La tabla siguiente muestra los resultados del informe generado por Excel."
    />

    <ImagePlus
      client:visible
      width="70%"
      max_zoom="90%"
      image={summary2}
      texto="Tabla de resultados"
    />
    <Paragraph
      texto="Como se observa es un informe bastante completo que se puede generar rápidamente y permite hacer una aproximación rápida a los datos que estamos comenzando a analizar. El informe presenta en una tabla las medidas de tendencia central, las medidas de dispersión, los valores mínimos y máximos asi como la cantidad de datos para cada una de las variables seleccionadas."
    />
    <center>
      <SubTitle
        title="Construcción de resultados de estadística descriptiva"
      /></center
    >
    <Video
      id="KICATP9ceMY"
      title="Explicación de las medidas de tendencia central"
      client:visible
    />

    <DownloadButton
      link="https://github.com/HectorDR/vetDataScience/blob/hojas_excel/5.4.1_Medidas_tend_central.xlsx"
    />
  </SubChapter>

  {/* 5.6 Relaciones entre variables */}
  <SubChapter id="covarianza">
    <SubTitle title="5.6 Relaciones entre variables" />
    <Paragraph
      texto="En la sección 5.3 vimos algunas maneras como podemos visualizar si existe alguna relación entre dos variables. Ahora veamos como se puede medir el grado de relación entre dos variables"
    />
    <SubTitle title="5.6.1 Covarianza" />
    <Paragraph
      texto="La covarianza es una medida de variabilidad conjunta de dos variables. Si la covarianza es positiva esto indica que las dos variables se mueven juntas en la misma dirección. Si la covarianza es negativa entonces las dos variables se mueven en direcciones opuestas. Si la covarianza es 0 las dos variables son independientes la una de la otra. La covarianza puede tomar valores hasta el infinito tanto positivos como negativos. Esto es un problema porque dificulta entender que tan ligadas están las dos variables."
    />
    <SubTitle title="Fórmula de la covarianza muestral" />

    <ImagePlus
      client:visible
      width="40%"
      max_zoom="60%"
      image={covarianza}
      texto="Covarianza muestral"
    />
    <Paragraph>
      <p>
        Para la covarianza muestral tenemos que X es la media de la variable X,
        x <sub>i</sub> es la "iésima" posición de esta variable, mientras que Y representa
        la media de la variable Y, y<sub>i</sub> representa la "iésima" posición
        de la variable y. Finalmente n representa el número total de observaciones
        (suma de observaciones de X y Y).
      </p>
    </Paragraph>
    <Paragraph>
      <p>
        En Excel para la covarianza muestral se utiliza la función <b>
          =COVARIANCE.S</b
        > si la configuración está en inglés o <b>=COVARIANZA.M</b> en español. Para
        la covarianza poblacional las funciones son <b
          >=COVARIANCE.P o =COVARIANZA.P</b
        > respectivamente.
      </p>
    </Paragraph>
    <SubTitle title="5.6.2 Correlación" />
    <Paragraph
      texto="La correlación es una medida de variación conjunta de dos variables. La correlación busca estudiar el grado de asociación entre variables. También se conoce como correlación lineal de Pearson, es una medida de regresión lineal que pretende cuantificar el grado de variación conjunta entre dos variables. Es importante aclarar que dos variables que están altamente correlacionadas no necesariamente implican que una es causal de la otra (correlación no implica causalidad)."
    />
    <Paragraph
      texto="A diferencia de la covarianza, es una medida estandarizada que toma medidas entre -1 y +1 de manera que es mas fácil de interpretar los resultados. Donde valores positivos indican que, si el valor de x sube, el de y sube. Al contrario, si el valor es negativo indica que si x aumenta, y disminuye y un valor 0 es que no hay correlación."
    />
    <Paragraph>
      <p>
        En Excel para la correlación la función <b> =CORREL</b> tanto en español
        como en inglés
      </p>
    </Paragraph>
    <SubTitle title="Fórmula de la correlación" />
    <ImagePlus
      client:visible
      width="20%"
      max_zoom="40%"
      image={corre1}
      texto="Correlación"
    />
    <Paragraph>
      <p>
        Donde S<sub>xy</sub> representa la covarianza entre las variables X y Y (ver
        fórmula anterior), S<sub>x</sub> es la desviación típica de X y S<sub
          >y</sub
        > es la desviación típica de Y.
      </p>
    </Paragraph>
    <SubTitle title="Ejemplo en Excel" />
    <Paragraph
      texto="Tenemos los promedios de los registros de producción de 10 granjas de cerdas de cría de una región de Caldas (Colombia) como lo muestra el registro a continuación."
    />
    <ImagePlus
      client:visible
      width="70%"
      max_zoom="100%"
      image={cerdas}
      texto="Promedios"
      alt="promedios de los registros de producción de 10 granjas"
    />
    <Paragraph
      texto={"Queremos calcular la covarianza entre lechones nacidos muertos o mortinatos por parto (columna verde) y el número de partos por cerdas por año (columna naranja). Podemos seguir la fórmula de la covarianza muestral y hacer los cálculos en Excel, o bien podemos utilizar la función =COVARIANCE.S (). El resultado va a ser igual como se observa."}
    />
    <ImagePlus
      client:visible
      width="40%"
      max_zoom="60%"
      image={cerdas2}
      texto="Covarianza entre lechones nacidos muertos o mortinatos"
      alt="Formula para covarianza de una muestra"
    />
    <Paragraph
      texto="El resultado de la covarianza es positivo 0.0067 lo que nos indica que si hay mas animales por camada tambien hay mas mortinatos por camada. Para cuantificar que tan cercana es la relación entonces acudimos a la correlación, para ello tambien podemos correr la formula o simplemente utilizar la función = CORREL de Excel como se muestra en la tabla superior."
    />
    <center><SubTitle title="Cálculo de la covarianza muestral" /></center>
    <Video id="k26KkoujszI" title="Medidas de asociación en Excel" />

    <DownloadButton
      link="https://github.com/HectorDR/vetDataScience/blob/hojas_excel/5.6_cov_correl.xlsx?raw=true"
      client:visible
    />
  </SubChapter>
 <ReferencesBlock>
    <li>* Chao, L.L., 1978. Estadística para las ciencias administrativas. McGraw-Hill Interamericana.</li>
    <li><a href="https://www.investopedia.com/terms/s/standarddeviation.asp" target="_blank">* Hargrave, M., 2021. <u> Standard Deviation </u> en portal Investopedia.com</a></li>
    <li>* Pfaffenberger, R.C. and Patterson, J.H., 1977. Statistical methods for business and economics. Homewood, IL: Richard D. Irwin.</li>
 </ReferencesBlock>

</ChapterLayout>
