---
import ContentsTable from "../components/ContentsTable";
import ChapterLayout from "../layouts/ChapterLayout.astro";
import SubChapter from "../components/SubChapter";
import Paragraph from "../components/Paragraph";
import SubTitle from "../components/SubTitle";
import ImagePlus from "../components/ImagePlus";
import Video from "../components/Video";
import ReferencesBlock from "../components/ReferencesBlock";
import ovejas from "../media/photos_web/ovejas.jpg";
import single from "../media/anovas/single_factor1.png";
import single2 from "../media/anovas/single_factor2.png";
import single3 from "../media/anovas/single_factor3.png";
import twof from "../media/anovas/two_factor1.png";
import twof2 from "../media/anovas/two_factor2.png";
import twof3 from "../media/anovas/two_factor3.png";
import twof4 from "../media/anovas/two_factor4.png";
import rep from "../media/anovas/two_f_rep1.png";
import rep2 from "../media/anovas/two_f_rep2.png";
import rep3 from "../media/anovas/two_f_rep3.png";
import rep4 from "../media/anovas/two_f_rep4.png";
import linr from "../media/anovas/linreg.png";
import linr2 from "../media/anovas/linreg2.png";
import linr3 from "../media/anovas/linreg3.png";
import bajar from "../media/images/bajar.png";
import DownloadButton from "../components/DownloadButton";
import HeadBase from "../components/headBase.astro";
---

<HeadBase
  title="7- El An谩lisis de Varianza (ANAVA)"
  description="El An谩lisis de Varianza (ANAVA)"
  keyworkds="ANAVA, analisis de varianza, ANAVA dos factores sin replicacion, ANAVA dos factores sin replicacion"
/>

<ChapterLayout
  chapter_title="7- El An谩lisis de Varianza (ANAVA)"
  chapter_image={ovejas}
>
  <ContentsTable
    contenidos={[
      { titulo: "7.1-Que es el an谩lisis de varianza (ANAVA)", link: "#anava" },
      { titulo: "7.2- El ANAVA de un solo factor", link: "#unianova" },
      {
        titulo: "7.3- El ANAVA de dos factores sin replicaci贸n",
        link: "#twoanova",
      },
      {
        titulo: "7.4- El ANAVA de dos factores con replicaci贸n",
        link: "#twoanovarep",
      },
      { titulo: "7.5- La regresi贸n lineal", link: "#linearreg" },
      {
        titulo: "7.6- La regresi贸n lineal simple en Excel",
        link: "AnavaII#reglinex",
      },
      {
        titulo: "7.7- La regresi贸n m煤ltiple en Excel ",
        link: "AnavaII#regmult",
      },
      {
        titulo: "7.8- La regresi贸n cuadr谩tica en Excel",
        link: "AnavaII#regquad",
      },
      {
        titulo:
          "7.9- La regresi贸n con interacci贸n de elementos independientes en Excel",
        link: "AnavaII#reginter",
      },
      {
        titulo:
          "7.10- Variables nominales y construcci贸n de variables ficticias",
        link: "AnavaII#dummyvars",
      },
    ]}
  />
  <SubChapter id="anava">
    <SubTitle title="7.1- El an谩lisis de varianza" />
    <Paragraph>
      <p>
        Cuando estamos interesados en identificar si existen diferencias que se
        puedan atribuir a variaciones en el comportamiento de una variable
        independiente o variable predictiva categ贸rica utilizamos el<b>
          an谩lisis de varianza o ANAVA
        </b> (ANOVA por sus siglas en ingl茅s). El ANAVA es una herramienta estad铆stica
        que permite la comparaci贸n de los efectos de uno o m煤ltiples factores independientes
        sobre un resultado. Por ejemplo, podemos estudiar si existen variaciones
        en la producci贸n de leche de una regi贸n que se puedan atribuir a los pastos
        de regi贸n, al r茅gimen de lluvias o al sistema de orde帽o. Cada uno de los
        factores a incluir en el an谩lisis pueden contener diferentes niveles de la
        variable de inter茅s (ejemplo: razas, regiones, a帽o de producci贸n). En s铆ntesis
        el an谩lisis de varianza nos sirve para conocer cuales son los efectos principales
        y las interacciones entre
        <a href={"/post#raw"}><u>variables categ贸ricas</u></a> que sean independientes
        en un intervalo (rango de resultados) de una variable dependiente.<br
        /><br />
        En esta 煤ltima secci贸n, veremos como con una herramienta de Excel (An谩lisis
        de Datos) y sin conocimientos previos de programaci贸n, podemos utilizar el
        analisis de varianza. Tambi茅n veremos algunos tipos de regresiones que son
        armas poderosas a la hora de hacer an谩lisis y tomar decisiones. Excel permite
        realizar varios tipos de ANAVAS, sin embargo, para realizarlo una vez mas
        es necesario activar la aplicaci贸n <a
          href="https://support.microsoft.com/es-es/office/cargar-herramientas-de-an谩lisis-en-excel-6a63e598-cd6d-42e3-9317-6b40ba1a66b4"
          target="_blank"><u><b>Data Analysis o An谩lisis de Datos</b></u></a
        > que viene incorporada con el software. Esta aplicacion permite realizar
        an谩lisis de varianza de un solo factor, de doble factor, sin replicaci贸n
        y dos factores con replicaci贸n.
      </p>
    </Paragraph>
  </SubChapter>
  <SubChapter id="unianova">
    <SubTitle title="7.2- ANAVA de un solo factor" />
    <Paragraph>
      <p>
        El ANAVA de un solo factor se realiza de manera similar a la<a
          href={"/analisisII#intervalo3"}
        >
          <u>prueba T-student</u></a
        >. Sin embargo, la prueba de hip贸tesis del ANAVA permite comprobar la
        igualdad de tres o mas medias mu茅strales a diferencia de la prueba T que
        solo permite dos.<br />Por ejemplo: un zootecnista desea conocer si
        existen variaciones en la producci贸n de leche entre las fincas que est谩n
        a su cargo. Para ello ha tomado las producciones ajustadas de leche a
        305 d铆as de 39 animales en cada una de las 4 granjas. Nuestra variable
        independiente son las fincas y la variable dependiente es la producci贸n
        de leche. Entonces se establecen entonces las hip贸tesis de la siguiente
        manera:
      </p><br />
      <ul>
        <li>
          - H<sub>0</sub>: No existe variaci贸n en la producci贸n promedio de
          leche entre las granjas.
        </li>
        <li>
          - H<sub>1</sub>: Existe una variaci贸n significativa en la producci贸n
          promedio de leche entre las granjas.
        </li>
      </ul>
      <br />
      <p>
        Entonces para saber si existen variaciones en la producci贸n que puedan
        ser atribuidas a una variable categ贸rica (granja A,B,C,D), vamos en
        Excel a la opci贸n Datos y seleccionamos del men煤 Data An谩lisis la opci贸n
        ANOVA Single Factor (un solo factor), tal como lo muestra el recuadro
        inferior.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={single}
      texto="ANOVA unico factor"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center
        ><h4>
          Seleccionar de Data Analysis la opcion Anova factor 煤nico o single
          factor
        </h4></center
      ><br />
      <p>
        Lo primero que se debe hacer tan pronto se abre la hoja de di谩logo es
        seleccionar el rango donde se encuentran los datos de inter茅s, para este
        caso los datos de las cuatro granjas que est谩n agrupados por columnas y
        tienen encabezados (headings) por lo tanto seleccionamos esta opcione.
        Posteriormente seleccionar el  para comparar con el p-value, en este
        caso es del 0.05. A diferencia de <a href={"/analisis2#intervalo3"}
          ><u>la prueba t</u></a
        > donde se calcula un t estad铆stico para rechazo o aceptaci贸n de la Hip贸tesis
        nula, en el ANAVA se calcula un F estad铆stico y se compara con valor F critico.
        Por tanto tener en cuenta que a pesar de que la tabla estad铆stica es diferente,
        el procedimiento es similar. Finalmente debemos seleccionar donde deseamos
        ubicar el reporte si en una celda especifica o en una hoja aparte. Tambi茅n
        podemos darle un nombre al reporte.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={single2}
      texto="Seleccionar el rango donde se encuentran los datos"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center
        ><h4>
          Seleccionar el rango donde se encuentran los datos, el n铆vel de
          confianza y el espacio para generar el reporte
        </h4></center
      >
      <br /><br /><p>
        Una vez que damos OK en el men煤, se genera un reporte con dos tablas
        como el que se ve a continuacion:
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={single3}
      texto="Seleccionar el rango donde se encuentran los datos"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph
      texto="Como se observa, el reporte de Excel genera dos tablas, la tabla superior corresponde a la estadistica descriptiva para cada uno de los grupos e incluye la media y la varianza.  En la segunda tabla ubicada en la parte inferior se presenta el an谩lisis de varianza como tal. En este caso hay dos cosas importantes que revisar para determinar si existe o no diferencia significativa. Lo primero es el F estad铆stico. Para rechazar la Hip贸tesis nula este valor debe ser superior al F cr铆tico. Para este caso el F estad铆stico es 0.65 siendo inferior que el F critico (2.66). De igual manera el valor P que en este caso es 0.58 y es superior al  escogido de 0.05, por tanto no hay raz贸n para rechazar la Hip贸tesis nula y podemos decir con un 95% de confianza que no hubo variaci贸n en la producci贸n de leche ajustada a 305 dias entre las cuatro fincas."
    />
    <center><SubTitle title="ANAVA de un solo factor" /></center>

    <Video id="jl6dJxWOFhg" title="ANAVA de un solo factor" client:visible />

    <DownloadButton
      link="https://github.com/HectorDR/vetDataScience/blob/hojas_excel/7.2_Anava_un_factor.xlsx?raw=true"
      client:visible
    />
  </SubChapter>

  <SubChapter id="twoanova">
    <SubTitle title="7.3- El ANAVA de dos factores sin replicaci贸n " />
    <Paragraph>
      <p>
        Podemos utilizar El ANAVA de dos factores cuando tenemos una variable
        dependiente medible (cuantitativa) y dos variables nominales
        independientes (factores o efectos principales) que se hallan en todas
        las posibles combinaciones. Es decir podemos cuantificar la variable
        cuantitativa en funci贸n de las variables nominales (Macdonald 2009).<br
        /> Por ejemplo, en un una granja av铆cola existen dos sistemas de encasetamiento
        (jaula y piso) y se trabaja con tres l铆neas de ponedoras (Hy-line, Babcock
        y Lohman), entonces podemos comparar la producci贸n de huevos por la raza
        de las aves y por el sistema de alojamiento en que se encuentran encasetadas.
        <br />Este ANAVA comprueba dos H<sub>0</sub>:<br />
        <b>
          1- Que las medias de las variables medidas son iguales para los
          diferentes valores de la primera variable nominal.<br /> 2- Que las medias
          son iguales para los diferentes valores de la segunda variable.
        </b><br />
        Es decir, se busca comprobar que las medias de las observaciones agrupadas
        por el factor A son nulas, y que las medias agrupadas por el factor B son
        nulas. Cuando no hay replicaci贸n no es posible probar la interacci贸n (AxB).
        Para ello son necesarias las repeticiones lo cual veremos mas adelante. <br
        />
        En otro ejemplo, deseamos conocer si los promedios de producci贸n lechera
        en kg ajustada a 305 dias en una regi贸n lechera de Canad谩 y obtenidos a partir
        de muestras de 12 hatos lecheros representativos y discriminados por lactancias
        de la 1陋 a la 5陋 son diferentes entre ellos o no.<br /><br />
        Cuando tenemos dos factores entonces podremos calcular dos hip贸tesis nulas
        H<sub>0</sub>:
      </p>
      <ul>
        <li>
          1- No existe diferencia entre hatos en el promedio de producci贸n de
          leche por hato.
        </li>
        <li>
          2- No existe diferencia en la producci贸n de leche entre las lactancia.
        </li>
      </ul>
    </Paragraph>
    <ImagePlus
      client:visible
      image={twof}
      texto="Promedios de producci贸n de leche por regi贸n y por lactancia"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center
        ><h4>
          Promedios de producci贸n de leche por regi贸n y por lactancia
        </h4></center
      ><br />
      <p>
        La tabla superior muestra la manera de insertar los datos en Excel donde
        se presentan los promedios de la leche por regi贸n (filas) y por
        lactancia (columnas). Es importante que cada celda de la tabla tenga su
        resultado. Para este tipo de an谩lisis todos los datos deben estar
        presente es decir cada regi贸n debe tener un promedio de leche para cada
        lactancia, de lo contrario Excel no podra generar el reporte. Una vez la
        tabla este lista del menu <b>Data Analysis</b> seleccionamos la opci贸n <b
          >ANOVA two factor without replication</b
        > o ANAVA para dos factores sin replicaci贸n, como se observa en el cuadro
        inferior.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={twof2}
      texto="Seleccionar la opci贸n ANAVA dos factores sin replicaci贸n"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center>
        <h4>Seleccionar la opci贸n ANAVA dos factores sin replicaci贸n</h4>
      </center><br />
      <p>
        Una vez seleccionada la opci贸n tenemos una hoja de di谩logo que nos
        pregunta por la ubicaci贸n de la tabla, el nivel de significancia y la
        ubicaci贸n donde queremos el reporte tal como se obseva en la tabla
        inferior.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={twof3}
      texto="Seleccionar el rango donde se ubica la tabla, el nivel de significancia y la ubicaci贸n del reporte"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center>
        <h4>
          Seleccionar el rango donde se ubica la tabla, el nivel de
          significancia y la ubicaci贸n del reporte
        </h4></center
      ><br />
      <p>
        Finalmente, una vez seleccionamos OK, Excel generar谩 un reporte que
        tiene dos tablas. En la primera nos presenta los valores descriptivos
        (sumatoria, media y varianza) para los valores tabublados tanto por
        filas (regiones), como por columnas (lactancias). La segunda tabla
        presenta el an谩lisis de varianza.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={twof4}
      texto="Reporte generado por Excel"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center> <h4>Reporte generado por Excel</h4></center><br /><br />
      <p>
        En el ANAVA del reporte generado por Excel se presentan primero los
        resultados para las filas (Rows) en este caso las regiones. El F de las
        filas es 15.52 y el F cr铆tico es de 2.01 y El valor de P es inferior a
        0.0001 por tanto no podemos aceptar la H<sub>0</sub> y debemos aceptar que
        la producci贸n de leche no es igual para las regiones. En cuanto a las columnas
        (Lactancias) de igual manera el F calculado (40.92) es superior al F critico
        (2.58) y el valor de p es muy inferior al 0.05 del  seleccionado, por lo
        que tambi茅n podemos decir que existen diferencias significativas entre las
        lactancias del 1 al 5 por tanto rechazamos la H<sub>0</sub>. En
        conclusi贸n en ambos casos existen diferencias significativas tanto para
        las lactancias como para las regiones por lo cual se recharazon las dos
        H<sub>0</sub>.
      </p>
    </Paragraph>
    <center><SubTitle title="ANAVA de dos factores sin replicaci贸n" /></center>

    <Video
      id="1zANjYNGNos"
      title="ANAVA de dos factores sin replicaci贸n"
      client:visible
    />

    <DownloadButton
      link="https://github.com/HectorDR/vetDataScience/blob/hojas_excel/7.3_Anava_dos_facts.xlsx?raw=true"
      client:visible
    />
  </SubChapter>
  <SubChapter id="twoanovarep">
    <SubTitle
      title="7.4- El ANAVA factorial o de dos factores con replicaci贸n"
    />
    <Paragraph>
      <p>
        Este tipo de ANAVA es frecuente utilizarla en dise帽o experimental
        (bloques aleatorios) y tambi茅n cuando se trabaja con mediciones
        repetidas, es decir, cuando una observaci贸n ha sido hecha en el mismo
        individuo mas de una vez (antes y despu茅s), por ejemplo, cuando estamos
        midiendo par谩metros fisiol贸gicos o de producci贸n en un individuo antes y
        despu茅s de alg煤n tratamiento o al aplicar un estresor como cambios de
        temperatura o humedad en los galpones.<br />Al igual que el ANAVA sin
        replicaci贸n, el ANAVA factorial con replicaci贸n se utiliza cuando
        tenemos una variable medible (cuantitativa) y dos variables nominales
        (factores o efectos principales) que se hallan en todas las posibles
        combinaciones. En este caso tenemos tres H<sub>0</sub> a considerar (Macdonald,2009):
      </p><br />
      <ul>
        <li>
          1- Las medias de las variables medidas son iguales para los diferentes
          valores de la primera variable nominal;
        </li>
        <li>
          2- Las medias son iguales para los diferentes valores de la segunda
          variable;
        </li>
        <li>
          3- No existe interacci贸n (los efectos de una variable nominal no
          dependen de los valores de la otra variable nominal).
        </li>
      </ul><br />
      <p>
        Se recomienda que los tama帽os de las muestras de los subgrupos sean
        iguales ya que esto facilita el an谩lisis. Si queremos realizar este tipo
        de prueba en Excel la herramienta An谩lisis de Datos (Data Analysis) lo
        permite siempre y cuando el dise帽o est茅 balanceado (no pueden faltar
        datos).<br />
        Por ejemplo, en una regi贸n de producci贸n lechera en Colombia se ha establecido
        un plan de mejoramiento de calidad e higiene de hatos lecheros durante cuatro
        a帽os y nos interesa ver si los planes de control e higiene en establo han
        generado alg煤n progreso entre los a帽os 2013 al 2016. Para ello en cuatro
        subregiones lecheras (variable independiente 1) contamos con los promedio
        logar铆tmico de c茅lulas som谩ticas (SCC/ml) de 6 hatos de representativos de
        cada de cada subregion (variable cuantitativa dependiente) en donde se realizaron
        las actividades de educaci贸n y control durante los cuatro a帽os en menci贸n
        (variable dependiente 2). Entonces, una vez construida nuestra tabla, procedemos
        al an谩lisis con la <b>ANAVA doble factorial con replicaci贸n</b>. Para
        ello tenemos todos los resultados de los 6 hatos por cada regi贸n o sea
        24 datos por a帽o durante 4 a帽os, para un total de 96 registros (ojo no
        puede faltr ningungo).
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={rep}
      texto="Tabla con los recuentos logar铆tmicos de c茅lulas som谩ticas para 4 regiones lecheras durante 4 a帽os."
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center>
        <h4>
          Tabla con los recuentos logar铆tmicos de c茅lulas som谩ticas para 4
          subregiones lecheras durante 4 a帽os.
        </h4>
      </center><br />
      <p>
        La tabla superior presenta el promedio logar铆tmico de SCC para cada uno
        de los hatos distribuidos por regi贸n para cada a帽o en cuesti贸n. La tabla
        debe estar ordenada y adecuadamente balanceada (las mismas observaciones
        por variable) en este caso 6 por cada subregi贸n, durante 4 a帽os para
        cada una de las 4 subregiones para un total de 96 registros. Una vez
        tenemos nuestros datos limpios y organizados, del men煤 Data Analysis
        seleccionamos la opci贸n ANOVA dos factores con replicaci贸n (ANOVA:
        two-factor with replication).
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={rep2}
      texto="En el men煤 de di谩logo seleccionar la opci贸n ANOVA: two-factor with replication o ANAVA dos factores con replicaci贸n"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center>
        <h4>
          En el men煤 de di谩logo seleccionar la opci贸n "ANOVA: two-factor with
          replication" ANAVA dos factores con replicaci贸n
        </h4></center
      ><br />
      <p>
        Inmediatamente se abre una hoja de di谩logo que nos pide seleccionar el
        rango de las celdas donde se encuentra la tabla (incluir los
        encabezados), y posteriormente se debe escribir el n煤mero de filas por
        cada muestra, para este caso son 6 por subregi贸n (las subregiones est谩n
        en las filas) se debe tener en cuenta que son las mismas observaciones
        para cada muestra (subregi贸n). Luego seleccionamos el  (0.05) y
        finalmente el lugar donde se desea generar el reporte, como siempre las
        opciones pueden ser dentro del p谩gina actual, en una nueva p谩gina o un
        archivo diferente.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={rep3}
      texto="Selecci贸n de opciones para generar el ANAVA"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center> <h4>Selecci贸n de opciones para generar el ANAVA</h4></center><br
      />
      <p>
        Una vez presionamos OK, Excel genera un reporte con toda la informaci贸n
        (ver tabla inferior). El reporte esta dividido en dos tablas, la primera
        presenta el resumen descriptivo (numero de fincas, sumas, promedio y
        varianza) para cada subregi贸n por a帽o, as铆 como para la totalidad, y la
        segunda tabla presenta el ANAVA para las subregiones (Sample), para los
        a帽os (Columns) y para la interacci贸n de las dos variables.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={rep4}
      texto="Reporte generado por Excel"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center>
        <h4>Reporte generado por Excel listo para su interpretaci贸n</h4>
      </center><br />
      <p>
        Enfocandonos en los resultados del ANAVA, la primera fila (Sample)
        muestra los resultados de las filas que para nuestro ejemplo serian las
        subregiones. Para este caso el valor de F (8.27) es mayor que el F
        cr铆tico (2.71) y el P-value es inferior a 0.0001 (inferior al valor de 
        = 0.05) por tanto no podemos aceptar la H<sub>0</sub> y podemos confirmar
        con un 95% de confianza que las medias del SCC logar铆tmico son diferentes
        entre regiones. En la siguiente fila tenemos el an谩lisis de las columnas,
        en este caso el valor de F (0.89) es inferior al F cr铆tico (2.71) y el P-Value
        (0.44) es superior al  por tanto no podemos rechazar la H<sub>0</sub> y
        podemos afirmar con 95% de confianza que las medias del conteo SCC logar铆tmico
        no son diferentes a trav茅s de los a帽os, por tanto las medidas sanitarias
        que se tomaron no se han reflejado en una mejora en los valores de las c茅lulas
        som谩ticas de los hatos de cada una de las regiones. Finalmente la 煤ltima
        fila nos muestra el efecto de la interacci贸n (A帽o x Regi贸n) donde al igual
        que para los resultados por a帽o tampoco hay un efecto significativo.
      </p>
    </Paragraph>
    <center
      ><SubTitle
        title="ANAVA de dos factores con replicaci贸n (factorial)"
      /></center
    >
    <Video id="81wfAdDMIvE" title="ANAVA factorial" client:visible />

    <DownloadButton
      link="https://github.com/HectorDR/vetDataScience/blob/hojas_excel/7.4_Anava_dos_facts_replicacion.xlsx?raw=true"
      client:visible
    />
  </SubChapter>
  <SubChapter id="linearreg">
    <SubTitle title="7.5- La regresi贸n lineal" />
    <Paragraph>
      <p>
        En general la regresi贸n lineal es una aproximaci贸n que describe una
        respuesta cuantitativa de Y (variable dependiente) basada en los valores
        un solo predictor X (variable independiente). Asume que hay una relaci贸n
        lineal entre X y Y y describe una funci贸n de una l铆nea diagonal (James
        et al., 2013). Para medir esta asociaci贸n utilizamos el R<sup>2</sup> que
        representa la proporci贸n de la
        <a href={"/analisis#dispersion"}><u>varianza</u></a> que es explicada por
        el modelo propuesto con la regresi贸n lineal. Los valores de R<sup>2</sup
        > oscilan entre 0 y 1, siendo 1 el valor dado a un ajuste perfecto, es decir
        no habr铆a residuales, la diferencia entre Y y los valores predichos de Y
        seria igual a 0 (Macdonald, 2009) es decir un modelo perfecto (un unicornio).
        <br />
        Matem谩ticamente la regresi贸n lineal se describe:
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={linr}
      texto="Funci贸n de la regresi贸n lineal"
      width="30%"
      max_zoom="50%"
    />
    <Paragraph>
      <p>
        Donde el valor de Y esta dado por <b><sub>0</sub></b> que es el intercepto
        o el valor de Y cuando X vale 0, <b> <sub>1</sub></b> es la constante de
        la pendiente de <b>X<sub>1</sub></b> que es la variable independiente o predictor
        y <b></b> es el error. Este representa las diferencias entre el <b>Y</b
        > real y el <b>y</b> estimado pues muy seguramente la relaci贸n no es una
        diagonal perfecta, sino que hay variaciones. T铆picamente se asume que el
        error es independiente de X.<br />
        <br />
        Usos la regresi贸n lineal: Como dec铆amos anteriormente este modelo es el mas
        sencillo de todos, sin embargo no por eso debe ser menospreciado ya que ha
        mostrado ser de amplia utilidad. Entre ellos tenemos la relaci贸n entre algunos
        f谩rmacos y las constantes fisiol贸gicas como la presi贸n arterial o la frecuencia
        cardiaca y respiratoria. Tambi茅n en el sector agr铆cola para medir impactos
        de fertilizantes y nutrientes sobre un cultivo (aunque estos tambien pueden
        obdecer a relaciones cuadr谩ticas como veremos posteriormente (James et al.,2013;
        Macdonald, 2009).<br /> Para ilustrar la regresi贸n lineal simple, veamos
        el gr谩fico adaptado de la tabla tomada de V. Sellam and E. Poovammal (1996)
        que muestra la relaci贸n entre el regimen de lluvias anual y el volumen de
        cosecha de arroz en la India.
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={linr2}
      texto="Regimen de lluvias y cosecha de arroz obtenida"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center>
        <h4>
          En la gr谩fica podemos visualizar el regimen de lluvias anuales (X) por
          la producci贸n de arroz en millones de toneladas (Y)
        </h4></center
      ><br />
      <p>
        Como se puede observar existe una tendencia decreciente clara donde a
        mayor cantidad de lluvias hay una disminuci贸n en la producci贸n de arroz
        anual. Seg煤n Macdonald (2009) existen tres cosas que se pueden hacer con
        este tipo de datos. La primera es una prueba de hip贸tesis para ver si
        hay una asociaci贸n entre las dos variables. En este caso nos gustar铆a
        saber si realmente hay disminuci贸n de la cosecha por unidad de lluvia
        que cae. La segunda es describir que tan 铆ntimamente est谩n relacionadas
        las dos variables. Esto usualmente se expresa con el R<sup>2</sup>. Y la
        煤ltima cosa que se puede hacer es determinar la ecuaci贸n de la l铆nea que
        pasa a trav茅s de la nube de puntos (como se ve en el gr谩fico) calculando
        el intercepto y el coeficiente de inclinaci贸n (no lo hacemos nosotros lo
        hace Excel).
      </p><br /><br />
      <h3>La Hip贸tesis Nula (H<sub>0</sub>)</h3><br />
      <p>
        La hip贸tesis nula (H<sub>0</sub>) de la regresi贸n lineal es que la
        diagonal de la l铆nea de mejor ajuste es igual a cero. Es decir, en la
        medida en que X aumenta de tama帽o la variable asociada Y no aumenta o
        disminuye.<br />
        La regresi贸n lineal busca la l铆nea que mejor ajusta a los puntos de los datos
        (ver l铆nea roja del gr谩fico de la dispersi贸n de la producci贸n de arroz vs
        r茅gimen de lluvias). El m茅todo mas com煤n es la regresi贸n de cuadrados m铆nimos
        ordinarios. En este m茅todo el mejor ajuste est谩 definido como la l铆nea que
        minimiza las distancias verticales entre los puntos de los datos y la l铆nea
        elevadas al cuadrado (Ver gr谩fico inferior). Para un punto de X con un valor
        X1 y un valor de Y con un valor de Y1, la diferencia entre Y1 y el calculado
        (el valor predicho de Y a X1) y luego elevado al cuadrado.<br /> Esta diferencia
        cuadrada es calculada para cada punto y la suma de estas diferencias al cuadrado
        indican que tan bien ajustan los datos. La l铆nea de regresi贸n es aquella
        para la que la suma de estos cuadrados es la mas peque帽a (Macdonald 2009).
      </p>
    </Paragraph>
    <ImagePlus
      client:visible
      image={linr3}
      texto="Diferencia entre las coordenadas de X y Y y la di谩gonal de la funci贸n lineal"
      width="40%"
      max_zoom="60%"
    />
    <Paragraph>
      <center>
        <h4>
          Diferencia entre las coordenadas de X y Y y la di谩gonal de la funci贸n
          lineal
        </h4></center
      ><br />
      <h1>
        Reglas para el uso de la regresi贸n lineal (James et al., 2013, Macdonald
        2009):
      </h1><br />
      <ul>
        <li>
          1- Linealidad: es lineal porque la ecuaci贸n genera una l铆nea. La forma
          de identificar la linealidad es por medio de un <a
            href={"/analisis#visualizacion"}><u>gr谩fico de dispersi贸n</u></a
          >. Si se ve una tendencia lineal entre las variables, entonces se
          puede proceder. Si el patr贸n de los datos muestra una relaci贸n no
          lineal, no se debe utilizar esta ecuaci贸n. Como alternativa se puede
          utilizar una relaci贸n no lineal, tambi茅n se pueden adaptar los datos
          con funciones exponenciales o logar铆tmicas.
        </li>
        <li>
          2- No endogeneidad: se dice que hay endogeneidad cuando hay una
          correlaci贸n entre la variable dependiente y el error. Se conoce como
          sesgo de la variable omitida que se da cuando no se incluye una
          variable independiente importante.
        </li>
        <li>
          3- Normalidad y homocedasticidad: el Error debe ser normal, de media 0
          y homocedasticidad se refiere a que debe tener igual varianza. Una
          forma de prevenir heterocedasticidad es buscar variables que est茅n
          siendo omitidas. Otra manera es remover los valores extremos. Otra
          manera es hacer una transformaci贸n logar铆tmica
        </li>
        <li>
          4- No auto correlaci贸n: tambi茅n conocida como no debe haber
          correlaci贸n serial. Es un error muy com煤n en datos de series de
          tiempo. Una forma com煤n de detectarlo es graficar los residuales y
          par谩metros. Otro es la prueba de Durbin Watson. Cuando el valor es
          cercano a 2 indica no autocorrelacion, mientras que valores inferior a
          1 y superior a 3 deben encender las alarmas. No use regresi贸n lineal
          cuando se presente este problema. Busque modelos de autoregresion, o
          modelos de de media m贸vil.
        </li>
        <li>
          5- No Multicolinearidad: cuando dos variables independientes est谩n
          altamente correlacionadas o una se representa en funci贸n de la otra.
          En estos casos solo se debe utilizar una de las dos, no tiene sentido
          incluir las dos variables en el modelo. Otra soluci贸n es transformar
          las dos variables en una sola. O finalmente si se deciden mantener las
          dos hay que proceder con precauci贸n.
        </li>
      </ul>
    </Paragraph>
  </SubChapter>
  <ReferencesBlock>
    <li>
      * Chao, L.L., 1978. Estad铆stica para las ciencias administrativas.
      McGraw-Hill Interamericana.
    </li>
    <li>
      * Guerrero, H., 2010. Excel data analysis: modeling and simulation.
      Springer Science & Business Media.
    </li>
    <li>
      * James, G., Witten, D., Hastie, T. and Tibshirani, R., 2013. An
      introduction to statistical learning (Vol. 112, p. 18). New York: springer
    </li>
    <li>
      * McDonald, J.H., 2009. Handbook of biological statistics (Vol. 2, pp.
      6-59). Baltimore, MD: sparky house publishing.
    </li>
    <li>
      * Pfaffenberger, R.C. and Patterson, J.H., 1977. Statistical methods for
      business and economics. Homewood, IL: Richard D. Irwin.
    </li>
    <li>
      * Sellam, V. and Poovammal, E., 2016. Prediction of crop yield using
      regression analysis. Indian Journal of Science and Technology, 9(38),
      pp.1-5.
    </li>
    <li>
      <a href="https://www.statology.org/linear-regression-real-life-examples/)"
        ><u>* Examples of using linear regression in linear life May 2020.</u
        ></a>
    </li>
  </ReferencesBlock>
</ChapterLayout>
